@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(55, 65, 81, 0.5) rgba(31, 41, 55, 0.4);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  margin-left: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.4);
  border-radius: 9999px;
  margin: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(55, 65, 81, 0.7);
  border-radius: 9999px;
  border: 2px solid rgba(31, 41, 55, 0.4);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(55, 65, 81, 0.9);
}